

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*뷰포트 높이*/
}

/*애플 쉐도우 적용*/
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-width: 360px;
    /* align-items: center; */
    
}
.login-container h2 {
    margin-bottom: 24px;
}
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #222831;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #DFD0B8;
    }
    .login-container .register {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
}


.register-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 400px;
}

.register-container h2 {
  margin-bottom: 24px;
  text-align: center;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.register-container input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #222831;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-container input[type="submit"]:hover {
  background-color: #DFD0B8;
}

.register-container .login {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}