body{
    background-color: white;
    margin:0;
    padding:0;
}


.header{
    position:fixed;
    top : 0;
    left : 0;
    width:100%;
    z-index:1000;
    margin-top:30px;

}


.header-menu{
    display:flex;
}

.col-group-left{
    flex:1;
    padding-top:1.8vw;
}
.menu{
    padding-left:40px;
    /* padding-top:30px; */
    margin:0;
}
.col-group-left .menu{
    margin:0;
}

.col-group-left .menu .menu-name{   
    font-size:2.3vw;
    font-weight: bold;
    color:white;
}
.col-group-center{
    flex:1;
    display: flex;
    justify-content: center;
}


.col-group-right {
    /* flex:1;
    color: white;
    display: flex;
    justify-content: right;
    font-size:40px;
    font-weight: bold;
    padding-right:40px;
    text-align: right; */
    padding-top:1.8vw;
    flex :1;
    display:flex;
    justify-content: flex-end;
}
.search-form{
    padding-right:40px;
    /* padding-top:0.5em; */
}

.search-form input{
    font-size:2.3vw;
    border:none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color:white;
    font-weight: bold;
    width:15vw;
    padding:0;
}

.search-form input::placeholder{
    color:white;
    font-size: 2.3vw;
    text-align: right;
    border:none;
    
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.search-button {
    flex:1;
    background-color: transparent;
    border: none;
    padding: 0px;
    border-radius: 4px;
    cursor: pointer;
    width: 2.3vw;
    height: 2.3vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */ */
    
}

.search-button svg {
    width:100%;
    height:100%;
      fill: white;
}


/* .search-form input[type="text"]{
    flex:1;
    
} */

/* .col-group-right .search-input{
    flex:1;
    border: none;
    border-bottom: 2px solid white;
    font-size:40px;
    text-align: right;
    justify-content: center;
    background-color: transparent;
    font-weight: bold;
    color:white;
} */

.a-center{
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size:4vw;
    font-weight: bold;
    color:white;
    
    
}
.section{
    position:relative;
    width:100%;
}

.section img {
  width: 100%;      /* 부모 요소의 너비에 맞춤 */
  height: auto;     /* 비율 유지하며 높이 자동 조절 */
  display: block;   /* 하단 여백 제거 (inline 요소의 특성 방지) */
  filter: brightness(70%);
}
.overlay-text {
  position: absolute;
  top: 27%;
  left: 8%;
}

.overlay-text h1{
    color: white;
    font-size: 3.8vw;
    font-weight: bold;
    text-align: left;
    margin:0;
}
.overlay-text h2{
    text-align: left;
    margin:0;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
}




.blank-space{
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    font-size:3.5vw; 
}


.content{
    display:flex;
    /* background-color: blue; */
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
    

}

.content-center{
    /* height:300px; */
    width:80%;
    /* background-color: white; */
    /* border-radius: px;
    border-width:5px; */
    margin-bottom:40px;
    /* background-color:rgb(250, 250, 250); */
}


.content-title-text p{
    font-size:35px;
    margin:0px;
    padding-left:10px;
    border-bottom: 2px solid white;
    font-weight:bold;
}


.content-hor{
    display:flex;
    border-radius: 12px ;
    /* border:solid 3px rgb(231, 231, 231); */
    
}

.hor-text{
    flex:2;
    /* background-color: red; */
    font-size:25px;
    /* font-weight: bold; */
}





.hor-text span{
    font-size: 3.5vw;
    /* padding-left:20px; */
    margin-left:20px;
    /* font-weight: bold; */
    /* font-family: 'Orbitron', sans-serif; */
    
    font-weight: bold;
    color:rgb(29, 29, 29);
    display:block;
    border-bottom:2px solid rgb(168, 168, 168);
}


.hor-text p{
    font-size: 1.8vw;
    /* padding: 0px 0px 10px 20px; */
    margin : 7px 0px 7px 20px;
    /* margin:0px; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-weight:550;
    color:rgb(43, 43, 43);


    

    /* font-weight: bold; */
    
}

.hor-img{
    flex:0.8;
    /* background-color: yellow; */
    padding:20px;
    padding-right:0px;
}

.hor-img img{
    /* padding:20px; */
    border-radius: 12px;
    width:100%;
    height:100%;
    /* border:3px solid rgb(231, 231, 231); */
    box-sizing: border-box;
    /* padding:5px; */

}

/* .content-evenly-hor {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.hor-evenly-item {
    flex: 1;
}

.hor-evenly-img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    object-fit: cover;
} */

.content-evenly{
    background-color:black;
    color:white;
    /* display:flex; */
    padding-bottom: 40px;
}


.blank-title {
    display: flex;
    justify-content: center;   /* 수평 가운데 정렬 */
    align-items: center;       /* 수직 가운데 정렬 */
    text-align: center;
    font-size: 5vw;
    padding:20px;
    /* letter-spacing: 0.5em; */
    font-family: 'Monoton', cursive;
}



.content-evenly-hor {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    width: 80%;
    margin: auto;
}

.hor-evenly-item {
    flex: 1;
}

.hor-evenly-img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    object-fit: cover;
    height:30vw;
    border-radius: 5px;
    border : 1px solid rgb(196, 196, 196);

}